<div class="header">
	<div class="header-most-top">
		<p>Nguyễn Thế Định - 221230802</p>
	</div>
	<div class="header-bot">
		<h1>Nguyễn Thế Định</h1>
		<div class="search-hotel">
			<form>
				<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="button" value="">
			</form>
		</div>
	</div>
</div>