<div class="container">
	<!-- main left -->
	<div id="mainleft" class="side-bar col-md-3">
		<div class="snipcart-details">
			<a href="" class="button">Add New Product</a>
		</div>
		<div class="search-hotel">
			<h3 class="agileits-sear-head">Search Here..</h3>
			<form action="#" method="post">
				<input type="search" placeholder="Product name..." name="search" required="">
				<input type="button" value=" ">
			</form>
		</div>

		<!-- pagination -->
		<div class="left-side">
			<h3 class="agileits-sear-head">Page</h3>
			<ul>
				<li>
					<input type="radio" class="checked" name="page">
					<span class="span">5% or More</span>
				</li>
				<li>
					<input type="radio" class="checked" name="page">
					<span class="span">10% or More</span>
				</li>
				<li>
					<input type="radio" class="checked" name="page">
					<span class="span">20% or More</span>
				</li>
				<li>
					<input type="radio" class="checked" name="page">
					<span class="span">30% or More</span>
				</li>

			</ul>
		</div>
		<!-- //pagination -->
		<!-- reviews -->
		<div class="customer-rev left-side">
			<h3 class="agileits-sear-head">Customer Review</h3>
			<ul>
				<li>
					<a href="#">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<span>5.0</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span>4.0</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-half-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span>3.5</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span>3.0</span>
					</a>
				</li>
				<li>
					<a href="#">
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star" aria-hidden="true"></i>
						<i class="fa fa-star-half-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<span>2.5</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- //reviews -->
	</div>
	<!-- //main left -->
	<!-- main right -->
	<div id="mainright" class="agileinfo-ads-display col-md-9">
		<div class="wrapper">
			<div class="col-xs-4 product-men">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						<img src="images/k1.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">Zeeba Basmati Rice</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$950.00</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-4 product-men">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						<img src="images/k2.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">Maiyas Gulab Jamun</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$137.00</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>

					</div>
				</div>
			</div>
			<div class="col-xs-4 product-men">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						<img src="images/k3.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">Lipton Green Tea</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$384.00</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>>

					</div>
				</div>
			</div>
			<div class="col-md-4 product-men">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						<img src="images/k4.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">Organicana Red Chilli</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$70.00</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-4 product-men">
				<div class="men-pro-item">
					<div class="men-thumb-item">
						<img src="images/k5.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">MTR Black Pepper</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$85.00</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-4 product-men">
				<div class="men-pro-item simpleCart_shelfItem">
					<div class="men-thumb-item">
						<img src="images/k6.jpg" alt="">
					</div>
					<div class="item-info-product ">
						<h4>
							<a href="single.html">Chataka - Elaichi</a>
						</h4>
						<div class="info-product-price">
							<span class="item_price">$299.99</span>
						</div>
						<div class="snipcart-details">
							<a href="" class="button">Edit</a>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //main right -->
</div>